<h1>Courts Available</h1>
<table class="table">
    <tr>
        <th>Venue</th>
        <th>Label</th>
        <th>Cost</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Booking Link</th>
    </tr>
    {% for court in courts %}
    <tr>
        <td>{{ court.venue }}</td>
        <td>{{ court.label }}</td>
        <td>{{ court.cost }}</td>
        <td>{{ court.start_time }}</td>
        <td>{{ court.end_time }}</td>
        <td><a href="{{ court.url }}" target="_blank">Link</a></td>
    </tr>
    {% endfor %}
</table>
