<html>
    <head>
        <title>Courts</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    </head>
    <body>
        <div class="ml-4" id="contentWrapper">
            <div id="formContainer">

                <form hx-get="/html/courts" id="searchCourts" hx-target="#courtsData">
                    <div class="form-group ml-4">
                        <label for="date">Date Range</label>
                        <input type="text" name="daterange" />
                            <script>
                                $(function() {
                                    $('input[name="daterange"]').daterangepicker({
                                        timePicker: true,
                                        timePicker24Hour: true,
                                        startDate: moment().startOf('hour'),
                                        endDate: moment().startOf('hour').add(2, 'day'),
                                        ranges: {
                                            'Next 24 Hours': [moment(), moment().add(24, 'hour')],
                                            'Next 48 Hours': [moment(), moment().add(48, 'hour')],
                                            'This weekend': [
                                                moment().startOf('week').add(5, 'day').add(17, 'hour'),
                                                moment().startOf('week').add(7, 'day'),
                                            ],
                                            'Monday Evening': [
                                                moment().startOf('week').add(1, 'day').startOf('day').add(17, 'hour'),
                                                moment().startOf('week').add(1, 'day').startOf('day').add(23, 'hour'),
                                            ],
                                            'Tuesday Evening': [
                                                moment().startOf('week').add(2, 'day').startOf('day').add(17, 'hour'),
                                                moment().startOf('week').add(2, 'day').startOf('day').add(23, 'hour'),
                                            ],
                                            'Wednesday Evening': [
                                                moment().startOf('week').add(3, 'day').startOf('day').add(17, 'hour'),
                                                moment().startOf('week').add(3, 'day').startOf('day').add(23, 'hour'),
                                            ],
                                            'Thursday Evening': [
                                                moment().startOf('week').add(4, 'day').startOf('day').add(17, 'hour'),
                                                moment().startOf('week').add(4, 'day').startOf('day').add(23, 'hour'),
                                            ],
                                            'Friday Evening': [
                                                moment().startOf('week').add(5, 'day').startOf('day').add(17, 'hour'),
                                                moment().startOf('week').add(5, 'day').startOf('day').add(23, 'hour'),
                                            ],
                                        },
                                        locale: {
                                            format: 'DD/M/YY HH:mm'
                                        }
                                    });
                                });
                            </script>
                    </div>
                    <div class="form-check form-group ml-4">

                        <h4>Venues</h4>
                        <div>
                            <input class="form-check-input" type="checkbox" name="select-all-venues" id="selectAllVenues">
                            <label class="form-check-label" for="select-all-venues">Select All</label>
                        </div>
                        <br/>
                        {% for venue in venues %}
                        <div>
                            <input class="form-check-input" type="checkbox" name="venues" id="{{ venue }}" value="{{ venue }}">
                            <label class="form-check-label" for="{{ venue }}">{{ venue }}</label>
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Find Courts</button>
                </form>

                <div>
                    <p>Last updated at: {{ last_update_time }}</p>
                    <button
                        type="button"
                        hx-get="/html/refresh-courts"
                        class="btn btn-primary"
                        hx-target="#refreshTaskInfo"
                        id="refreshCourtData"
                        hx-confirm="Refreshing court data will take a few minutes."
                    >
                        Refresh
                    </button>
                </div>
            </div>
            <div id="refreshTaskInfo">
            </div>
            <div id="courtsData">
            </div>
        </div>
        <script type="text/javascript">
            const input = document.getElementById("selectAllVenues");
            const checkboxes = document.querySelectorAll('input[name="venues"]');
            input.addEventListener("change", function() {
                checkboxes.forEach((checkbox) => {
                    checkbox.checked = input.checked;
                });
            });
        </script>
</body>
</html>
